body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url('https://res.cloudinary.com/doxttwwnh/image/upload/v1688993996/Summit-Seeker/rgwzopcsuwa6ukfc2lcv.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#navbar {
    background-color: rgba(181, 182, 187, 0.5);
}

.nav-item a:hover {
    color: rgb(255, 255, 255);
}

/* #logo {
    width: 600px;
    min-width: 500px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#logo.loaded {
    opacity: 1;
}


#logo-background {
    background-color: rgba(181, 182, 187, 0.5);
    border-radius: 25% 2%;
    margin-top: 8rem;
    max-width: 410px;

} */

h1 {
    font-size: 3rem;
    font-weight: 700;
}

.header-container {
    padding-top: 7rem;
}

.form-container {
    padding-left: 1rem;
    padding-top: 1rem;

}

#label {
    font-weight: 700;
    padding-top: 1rem;
}

#footer {
    background-color: rgba(181, 182, 187, 0.5);
}

#footer p {
    padding-top: 2px;
    margin: 0 auto;
}