body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-bottom: 7rem;
}

#header {
    margin-bottom: 2rem;
}

#form-image {
    border-radius: 8px;
}

input {
    margin-bottom: 1rem;
}

#submit-btn {
    margin-top: 1rem;
    background-color: #009688;
    border-color: #009688;
}

@media (max-width: 700px) {
    img {
        padding-bottom: 20px;
    }

}