body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 1rem;
    margin-left: 32px;
}

#search {
    padding: 2rem 0;
}

#search-btn {
    margin-top: 1rem;
    background-color: #009688;
    border-color: #009688;
}

.img-container {
    padding: 0;
}

#view-btn {
    background-color: #607D8B;
    border-color: #607D8B;
}